* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
